

@media screen and (min-width: 300px) {
    .tableDiv{
        width:280px;
    }
    
    .createEventModal-style-content{
      font-size:65%;
    }
    
    .addModalInputSelect{
        font-size:80%;
    }

    .addModalInputDate{
        width:70px;
        font-size:80%;
    }

    .addModalInputTime{
        font-size:75%;
        position:relative;
    }

    .selectRepInter{
        font-size:75%;
    }
    
    .mainTimeModalDiv{
        width:130px;
    }


    .uSetInput{
        width:170px;
    }

    .uSetInputFollow{
        width:150px;
    }
    
}

@media screen and (min-width: 400px) {
    
    
    .createEventModal-style{
        height:475px;
    }
    
    .createEventModal-style-content{
      font-size:80%;
    }

    .addModalInput{
        font-size:85%;
    }

    .addModalInputSelect{
        font-size:90%;
    }

    .addModalInputDate{
        width:75px;
        font-size:85%;
    }

    .addModalInputTime{
        font-size:80%;
        position:relative;
    }

    .selectRepInter{
        font-size:80%;
    }
    
    .mainTimeModalDiv{
        width:180px;
    }


    .uSetInput{
        width:200px;
        height:30px;
    }

    .uSetInputFollow{
        width:180px;
        height:30px;
    }
    
    .secondBody{
        font-size:95%;
    }

     .barDiv{
        font-size:110%;
    }

    .barDiv-logIn{
       width:70px
    }

   
    
    .barDiv-logo{
        margin-right:50px;
    }
    
    .tableDiv{
        width:380px;
    }
   
}

@media screen and (min-width: 450px) {
    
    .addForm{
        width:200px; 
        margin:auto;
    }
    
    .tableDiv{
        width:430px;
    }
    

}

@media screen and (min-width: 500px) {
    
    .computerScreen{
        display:block;
    }
    
    .smallScreen{
        display: none;
    }
    
    .divSep{
        margin-bottom: 10px;
    }

    .navButton{
        margin-left:15px;
    }
    .createEventModal-style{
      width:75%;
      margin-left:12%;
    }
    

    .addModalInput{
        font-size:90%;
        margin-bottom: 10px;
    }

    .addModalInputSelect{
        font-size:95%;
    }

    .addModalInputDate{
        width:80px;
        font-size:90%;
    }


    .AddEditForm{
        margin-left:25px
    }
    
    .barMenu{
        width:155px;
        padding:15px;
    }
    
    
    .userSettingsDivLeft{
        font-size:95%;
    }
    
    .userSettingsDivRight{
        font-size:95%;
    }
    
    .themeHolder{
        width:80%;
        margin-left:10%;
    }
    
    .uSetInput{
        width:250px;
        height:35px;
    }
    .uSetInputFollow{
        width:230px;
        height:35px;
    }
    
    
    .barDiv-logo{
        margin-right:50px;
        font-size: 200%
    }
    
    .tableDiv{
        width:480px;
    }
    
}

@media screen and (min-width: 600px) {
    
    questionModal{
        font-size:80%;
    }

    .createEventModal-style{
      width:70%;
      margin-left:14.5%;
      height:500px;
    }
    
    .createEventModal-style-content{
      font-size:85%;
    }
    
    .AddEditForm{
        margin-left:35px
    }
    
    .addModalInputDate{
        width:95px;
    }
    
    .mainInput{
        width:300px;
    }
    
    .barDiv-logo{
        margin-right:100px;
    }
    
    .tableDiv{
        width:580px;
    }
    
    
    .uSetInput{
        width:300px;
        height:40px;
    }
    .uSetInputFollow{
        width:280px;
        height:40px;
    }
    
    .themePics{
        height:120px;
    }
    
     .userSettingsDiv{
       font-size:95%;
    }
    
}

@media screen and (min-width: 700px) {
    .createEventModal-style{
      width:65%;
      margin-left:17%;
      height:530px;
    }
    
    .createEventModal-style-content{
      font-size:90%;
    }
    
    .AddEditForm{
        margin-left:45px
    }
    
    .mainInput{
        width:350px;
    }
    
     .barDiv{
        font-size:130%;
    }

    .barDiv-logIn{
       width:90px
    }

    .barDiv-logo{
        margin-right:150px;
    }
    
    .tableDiv{
        width:680px;
    }
    
    
}

@media screen and (min-width: 800px) {
  
    .barDiv-logo{
        font-size:220%;
    }
    
    .navBarDiv{
        font-size:90%;
    }

    .userName{
        font-size:200%;
    }
    
    
    #listCalToolsDiv{
        position:relative;
        float:left;
        width:25%;
        margin:0;
        margin-top:85px;
        margin-bottom:10px;
        font-size:95%;
    }
    
    #calendarDiv{
       position:relative;
       width:70%;
       margin-bottom:10px;
       margin-left:2%;
       margin-right:2%;
       font-size:95%;
    }
    
   
    .userSettingsDivLeft{
       margin-right:2%;
       margin-bottom:10px;
       width:45%;
       font-size:105%;
        border-bottom:none;
        vertical-align:top;
    }
    
     .userSettingsDivRight{
        width:45%;
        margin-top:90px;
        font-size:105%;
        border-left:2px solid #f2f2f2;
    }
    
    .themeHolder{
        width:90%;
        margin:0;
        margin-left:5%;
    }
    
    .themePics{
        height:150px;
    }
    
     .userSettingsDiv{
       font-size:105%;
    }
    
   
  
    .addForm{
        width:150px; 
        margin:auto;
    }
    
    .menuForm{
        font-size:90%;
    }
    
    .questionModal{
        font-size:85%;
        width: 260px;
        height:210px;
    }
    
    .createQuestionModal-style{
        width:260px;
        height:210px;
    }
    
    
    .createEventModal-style{
      width:560px;
      margin-left:120px;
      height:550px;
    }
    .createEventModal-style-content{
      font-size:95%;
    }
    
    .AddEditForm{
        margin-left:50px
    }
    
    .eTime{
        font-size: 80%
    }
    
    .eName{
        font-size:90%;
    }
    
    .tableDiv{
        width:780px;
    }
}

@media screen and (min-width: 900px) {
    .createEventModal-style{
      width:600px;
    }

    .createEventModal-style-content{
      font-size:100%;
    }


    .AddEditForm{
        margin-left:55px
    }
    
    
    .mainInput{
        width:400px;
    }
    
    .barDiv-logo{
        margin-right:250px;
    }
    
    
    .tableDiv{
        width:880px;
    }
  
}


@media screen and (min-width: 950px) {

    .addForm{
        width:150px; 
        margin:auto;
    }
    
   
    .barDiv-logo{
        margin-right:350px;
    }
}

@media screen and (min-width: 1000px) {
   
   .barMenu{
        width:180px;
        padding:20px;
        font-size:105%;
    }
    
    .navBarDiv{
        height:25px;
    }
    
    
    .tableDiv{
        width:980px;
    }
    
     .userSettingsDiv{
       font-size:110%;
    }
    
    .createEventModal-style{
      margin-left:25%;
    }
}


@media screen and (min-height:500px ){
  .barDiv{
    height:100px;
  }
}

@media screen and (min-height:800px ){
  .barDiv{
    height:130px;
  }

  .navBarInclude{
    height:100px;
  }

  .userSettingsDivLeft{
        margin-top:120px;
    }

   


    .userSettingsDiv{
        margin-top:115px;
    }

    #calendarDiv{
        margin-top:120px;
    }
    
}

@media screen and (min-height: 450px) and (min-width:450px){
    .secondBody{
        font-size:105%;
    }
   
    .mainInput{
        height:40px;
    }
    
    .mainButton{
        height:25px;
    }
    
    
    .mainCircle{
        font-size:125%;
    }
    
    .mainCircleNav{
        margin-top: 10px;
    }
    
    .logo{
        margin-top:5px;
        width:60px;
        height:60px;
    }
  
}

@media screen and (min-height:500px ) and (min-width:400px){

    .AddEditForm{
        margin-top: 50px;
    }
    
}

@media screen and (min-height: 550px) and (min-width:550px){
    .secondBody{
        font-size:115%;
    }
    
    .mainCircle{
        font-size:140%;
    }
    
    .mainCircleNav{
        margin-top: 20px;
    }
    
    .logo{
        margin-top:5px;
        width:70px;
        height:70px;
    }
    
    .themPics{
        height:100px;
    }
    
}

@media screen and (min-height: 650px) and (min-width:650px){
    
    /*.mainCircleDisplay{*/
    /*    height:95%;*/
    /*}*/
    
    .mainCircle{
        font-size:190%;
    }
    
    .mainCircleNav{
        margin-top: 30px;
    }
    
    .logo{
        margin-top:10px;
        width:85px;
        height:85px;
    }

    .mainInput{
        height:45px;
    }

    .secondBodyDiv{
        margin-top:75px;
    }
    
}

@media screen and (min-height: 800px) and (min-width:800px){
    .secondBody{
        font-size:130%;
    }
    
    .secondBodyDiv{
        margin-top:100px;
    }

    /*.mainCircleDisplay{*/
    /*    height:90%;*/
    /*}*/
    
    .mainCircle{
        font-size:250%;
    }

    .mainInput{
        height:50px;
    }
    
    .mainCircleNav{
        margin-top: 40px;
    }
    
    .logo{
        margin-top:20px;
        width:100px;
        height:100px;
    }

    #listCalToolsDiv{
        margin-top:110px;
    }

     .userSettingsDivRight{
        margin-top:120px;
    }
}