
input
{
    padding:5px;
    background-color: #fff;
    -webkit-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -moz-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -o-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -ms-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    border: 1px solid;
    border-color: #cccccc;
}

select{
    background-color: #fff;
    -webkit-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -moz-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -o-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -ms-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    border: 1px solid;
    border-color: #cccccc;
}

button{
    cursor:hand;
    border:none;
    font-size:90%;
}

button:hover{
    font-weight:bolder;
}

button[disabled]{
    cursor: not-allowed;
}




::-webkit-input-placeholder {
   color: #4d4d4d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d;  
}

:-ms-input-placeholder {  
   color: #4d4d4d;  
}


:focus{
    outline-color: #4d4d4d;
    box-shadow: 0px 1px 3px #b3b3b3 inset;
}


input:-webkit-autofill {
    -webkit-box-shadow:1px 1px 1px 50px #fff inset;
    -moz-box-shadow:  1px 1px 1px 50px #fff inset;
    -o-box-shadow:  1px 1px 1px 50px #fff inset;
    -ms-box-shadow:1px 1px 1px 50px #fff inset;
    box-shadow: 1px 1px 1px 50px #fff inset;
    -webkit-text-fill-color: black;
    -moz-text-fill-color: black;
    -o-text-fill-color: black;
    -ms-text-fill-color: black;
}

input:-webkit-autofill:focus {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    -moz-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    -o-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    -ms-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    box-shadow:  0 0 0 50px #fff inset;
}  

.mainError{
    margin-left:40px;
    color:gray;
    font-weight: bold;
    font-style: oblique;
}

.mainBody{
    text-align:center;
}

.mainBackground{
    background-color:rgba(189, 129, 97, 0.8);
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
    min-height:300px;
    top:0;
    left:0;
}

.mainBackground-image{
    opacity: 0.3;
    width:100%;
    height:100%;
}

.mainCircleDisplay{
    height:80%;
    min-height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.mainCircle{
    margin:auto;
    text-align:center;
    font-weight:bolder;
    color:white;
    text-shadow: 3px 3px 3px #992600;
    padding:30px;
    display:inline-block;
    vertical-align: middle;
    font-size:115%;
}

.mainCircleNav{
    margin-top:5px; 
    width:100%; 
    text-align:center;
}



.logo{
    margin-top:0;
    width:30px; 
    height:30px;
}


.secondBody{
    color:#663300;
    width:100%;
    min-width:300px;
    min-height:300px;
    font-size:90%;
    display:inline-block;
    padding-bottom:1%;
    text-align:center;
}

.secondBodyDiv{
    position:relative;
    color:black;
    text-align:center;
    margin-top:5%;
}

.barDiv{
 background-color:#C9D8C5;
 /*#04D9A4; */
 color:white; 
 width:100%;
 min-width:300px; 
 height:20%;
 min-height:60px;
 box-shadow:1px 1px 1px #93DD9B;
 text-align:center;
}

.barDiv-logo{
    display:inline-block;
    /*vertical-align: middle;*/
    margin-right:15px;
}

.barDiv-signUp{
    display:inline-block;
    /*vertical-align: middle;*/
    font-weight:bold;
    margin-left:5px;
}

.mainNavbar{
    text-decoration:none;
    font-weight: bold;
    background-color: #B0785A;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding:4px;
    border-radius:10px;
}

.mainNavbar:hover{
   padding:6px;
}

.mainInput{
    width:250px;
    /*min-width:250px;*/
    /*max-width:500px;*/
    height:30px;
    /*max-height:40px;*/
    color:black;
    background-color:white;
    border-radius:4px;
    border:0px solid;
}

.mainButton{
    text-decoration:none;
    padding:5px;
    width:100px;
    background-color:#c9d8c5;
    color: white;
     font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    border-radius:5px;
    box-shadow: 0px 2px 2px #93DD9B;
    font-family: Arial, Helvetica, sans-serif;
    
}

.mainButton:hover{
    box-shadow: 0px 2px 2px #00cc88;
    background-color:#04D9A4;
   
}



/*********************************Inside Page Styles**********************************/

.computerScreen{
    display:none;
}

.smallScreen{
    display:inline-block;
    width:100%;
}


.mainBackground{
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
    min-height:300px;
    top:0;
    left:0;
}

.theMainDiv{
    width:100%;
    display:inline-block;
    margin:0px;
    /*padding-bottom:5%;*/
    /*padding-left:5%;*/
    /*padding-right:5%;*/
}

/*.navBarDiv:hover:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top:0;*/
/*    bottom:0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    border-radius:0 10px 10px 0;*/
/*    background-color: rgba(30,30,30,0.1);*/
/*}*/


.navBarInclude{
    height:50px;
    width:100%;
    display:inline-block;
    margin:0;
}

.navButton{
    display:inline-block;
    margin-left:10px;
    margin-top:15px;
    color:white;
    font-weight: bold;
    cursor:hand;
}

.userName{
    display:inline-block;
    color: #e6e6e6;
    font-size:110%;
    font-weight:bolder;
    margin-left:5px;
    text-shadow: 1px 1px 1px #000000; 
}

.barMenu{
    position:absolute;
    display:block;
    width:100px;
    padding:10px;
    z-index:100;
}

.navBarDiv{
    position:relative;
    width:100%;
    height:20px;
    
    margin-top:5px;
}

.navBarDiv:hover{
    background-color:rgba(110, 87, 68, 0.4);
}

.borderb{
    border-bottom:1px solid;
}

.loggedNav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#f2f2f2;
    text-decoration: none;
}


    
.userSettingsDivLeft{
    /*float:left;*/
    /*margin:2%;*/
    width:100%;
    display:inline-block;
    /*height:50%;*/
    /*min-height: 400px;*/
    font-size:85%;
    border-bottom:2px solid #f2f2f2;
}

.userSettingsDivRight{
    /*float:left;*/
    display:inline-block;
    width:100%;
    /*height:50%;*/
    /*min-height: 450px;*/
    /*padding:2%;*/
    /*padding-bottom:2%;*/
    /*padding-top: 5%;*/
    position:relative;
    margin-bottom:20px;
    font-size:85%;
}


.userSettingsDiv{
    display:inline-block;
    vertical-align: middle;
    width:90%;
    font-size:90%;
}

.messageTextArea{
    width:60%; 
    min-width:180px; 
    max-width:500px;
    height:40%; 
    max-height:500px;
}

.themeHolder{
    display:inline-block;
    width:90%;
    margin-left:5%;
    padding-bottom:5px;
}

.themePics{
    display:inline-block;
    margin-top:10px;
    margin-bottom: 10px;
    width:48%;
    height:60px;
}

.uSetInput{
    height:25px;
    width:150px;
}



#calendarDiv{
    float:left;
    margin-top:20px;
    width:90%;
    margin-left:5%;
    font-size:85%;
}
#listCalToolsDiv{
    float:left;
    margin-left:5%;
    width:90%;
    position:relative;
    font-size:85%;
}

.frontFont{
    font-family: Comic Sans, Comic Sans MS;
    font-stretch: semi-expanded;
    font-weight:bold;
}




#smallScreenCalendar{
    /*background-image:url('/pictures/blankpage.jpg'); */
    background-color:rgba(255, 255, 255, 0.2);
    display:inline-block;
    border: 1px solid black;
    min-height:60px; 
    width:100%; 
    margin-left:auto;
    margin-right:auto;
    margin-top:3%; 
    position:relative;
    z-index:1;
}



.all{
    width:100%;
}

.split{
    width:45%;
    float:left;
    margin-left:5px;
}


.editColor {
    color:black;
    margin:auto;
    margin-bottom:5%;
}

.textInput{
    height:30px;
    width:100%;
}

.divInput{
    width:80%;
    margin:auto;
    margin-bottom:5%;
    padding:2px;
}

.div70{
     width:70%;
    margin:auto;
    margin-bottom:5%;
}

.divSep{
    width:100%;
    margin:auto;
    margin-bottom:2%;
}

.navBarOption{
    float:left;
    margin:5px;
    border-radius:5px;
}

.headers{
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bolder;
    font-size: 150%;
}

.menuButtons{
    height:20px;
    width:20px;
    border-radius:50px;
    cursor:hand;
}

.eTime{
    font-size:80%;
    /*font-weight:bolder;*/
}

.eName{
    font-size:90%;
    /*font-weight:bolder;*/
}

#colorPickerTable{
    width:100px;
    height:80px;
}

.completedStyle{
    text-decoration: line-through;
    font-style: oblique;
    color: #cccccc;
}

.calHeader{
    color:black;
    width:100%;
    text-align:center;
}
.calHeaderDate{
    display:inline-block;
    font-weight:bold;
    margin-left:2%;
}

.calHeaderArrows{
    display:inline-block;
    cursor:hand;
    margin-left:2%;
}

.miniCalDisplay {
    background-color:rgba(255, 255, 255, 1);
    position:absolute;
    z-index: 10;
    box-shadow: inset 0px -1px 25px #e6e6e6;
}


.miniCalTable{
    text-align:center;
    margin:5px;
    font-size:90%;
    width:95%;
}

#monthlyDateTable{
    margin-top:10px;
    width:100%; 
    font-size:90%; 
    font-weight:bold
}

#monthlyDateTable td{
    width:14%;
    text-align:center;
}

#bigCalTable{
    display:table;
    min-height:15%;
    width: 100%;
    border-collapse: collapse;
}

.bigCalDates{
    position:relative;
    font-weight:bold;
    width:100%;
    font-size:90%;
}

.timeDiv{
    float:left;
    font-size: 80%;
}



.createEventModal-dark {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}



.createEventModal-style{
    background-image:url('/pictures/wood.jpg'); 
    z-index: 10000;
    position: absolute;
    
    width:80%;
    min-height:420px;
   
     /*to center the content */
    top: 2%;
    left: 5%;
   
    border-radius:5px;
    background-color: #fff;
    box-shadow: inset 0px -1px 25px gray;
    /*overflow: auto;*/
    padding:5%;
}

.createEventModal-style-content{
   left:0;
   top:0;
   width:100%;
   height:100%;
   position:absolute;
   font-size:70%;
   font-weight: bold;
}

.AddEditForm{
    margin-top:20px;
    margin-left:10px
}

.addModalInput{
    font-size:95%;
    /*color:white;*/
}

.addModalInputSelect{
    font-size:95%;
    /*color:white;*/
}

.addModalInputDate{
    /*color:white;*/
    margin-left:5px;
    width:85px;
    font-size:95%;
}


.addModalInputTime{
    /*color:white;*/
    font-size:95%;
    position:relative;
}

.z-index2{
    z-index:2;
}

.z-index3{
    z-index:3;
}

.selectRepInter{
    /*color:white;*/
    position:relative;
    margin-left:5px;
    z-index:3;
    font-size:95%;
}

.mainTimeModalDiv{
    margin-left:10px;
    display:inline-block;
    width:50%;
    height:20px;
    margin-bottom:2%;
}



.modalTimeDiv{
    float:left;
    margin-left:2%;
    font-size:85%;
    height:100%;
    position:relative;
}

.addForm{
    position:relative;
    background-image:url('/pictures/wood.jpg');
    width:150px; 
    height:220px;
    margin:auto;
}

.addListCalButton{
    width:100px; 
}


.menuForm{
    background-color:rgba(255, 255, 255, 0.7);
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:250px;
    border-radius:4px;
    font-size:80%;
}


.upperqDiv{
    text-align:center;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
}

.upperqDiv-content{
     margin-top:12px;
     margin-left:auto;
     margin-right:auto;
     width:90%;
}

.lowerqDiv{
    margin-top:0;
    text-align:center;
}

.lowerqDiv-content{
     margin-top:12px;
     width:95%;
}

.lowerqDiv-buttons{
    margin-top:20px;
    margin-left:15%;
}


.questionModal{
    background-color:rgba(255, 255, 255, 0.7);
    position:absolute;
    top:0;
    left:0;
    width: 260px;
    height: 230px;
    border-radius:4px;
    font-size: 80%
}

.createQuestionModal-style{
    background-image:url('/pictures/wood.jpg'); 
    border-radius:4px;
    z-index: 900;
    position: absolute;
    width: 260px;
    height: 230px;
}

.createQuestionModal-header{
    z-index:10;
    position:absolute;
    border-radius:4px 4px 0px 0px;
    left:0;
    top:0;
    height:30px;
    width:100%;
}

.createQuestionModal-style-content{
    color:black;
    padding: 5px;
    text-align: center;
}

.createQuestionModal-close{
    position: absolute;
    z-index:100;
    top: 3px;
    right: 5px;
    padding: 3px;
    cursor: pointer;
    display: inline-block;
    color:white;
    font-weight: bold;
}

.createQuestionModal-footer{
    position:absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    border-radius:0px 0px 4px 4px;
}

/*For the add List and add Calendars*/
.createQuestionModal-tooldark {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}


.adminLink{
    display:inline-block;
    color: #999999;
    border-radius: 5px;
    padding:5px;
    text-decoration: none;
    background-color:#f2f2f2;
    box-shadow: 1px 1px 1px #999999;
}

.adminLink:hover{
    padding:7px;
}

.tableDiv{
    margin-top:20px;
    display:inline-block;
     width:250px;
    overflow-x: auto;
}

.adminTable{
    border-collapse: collapse;
    font-size:100%; 
    display:inline-block; 
    vertical-align:middle
}

.adminTr{
   
}

.adminTd{
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    height:120px;
}

.adminTdR{
    min-width:150px;
    text-align: center;
    border-bottom: 3px solid brown;
    height:20px;
}

.adminTd-inside{
    margin:10px;
}

