body{
    min-width: 200px;
}



input
{
    padding:2px;
    background-color: transparent;
    -webkit-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -moz-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -o-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -ms-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    border: 1px solid;
    border-color: #cccccc;
}

select{
    background-color: transparent;
    -webkit-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -moz-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -o-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    -ms-box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    box-shadow: /*your box-shadow*/ 0 0 1px 1px 2px #cccccc;
    border: 1px solid;
    border-color: #cccccc;
}


select:focus{
    background-color : #DAAD86;
}

button{
    cursor:pointer;
    border:none;
    font-size:95%;
}

button:hover{
   /*background-color: #DAAD86 !important;*/
   box-shadow: 0px 0px 1px 1px gray !important;
}

button[disabled]{
    cursor: not-allowed;
}

.breakText{
    -ms-word-break: break-all;
     word-break: break-all;

     word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
        hyphens: auto;
}



::-webkit-input-placeholder {
   color: #4d4d4d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d;  
}

:-ms-input-placeholder {  
   color: #4d4d4d;  
}


:focus{
    outline-color: #4d4d4d;
    box-shadow: 0px 1px 3px #b3b3b3 inset;
}


input:-webkit-autofill {
    -webkit-box-shadow:1px 1px 1px 50px #fff inset;
    -moz-box-shadow:  1px 1px 1px 50px #fff inset;
    -o-box-shadow:  1px 1px 1px 50px #fff inset;
    -ms-box-shadow:1px 1px 1px 50px #fff inset;
    box-shadow: 1px 1px 1px 50px #fff inset;
    -webkit-text-fill-color: black;
    -moz-text-fill-color: black;
    -o-text-fill-color: black;
    -ms-text-fill-color: black;
}

input:-webkit-autofill:focus {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    -moz-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    -o-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    -ms-box-shadow: /*your box-shadow*/ 0 0 0 50px #fff inset;
    box-shadow:  0 0 0 50px #fff inset;
} 


.mainStatus{
    color:rgb(84, 5, 5);;
    font-weight:bold;
    font-size:110%;
}

.mainError{
    margin-left:30px;
    color: rgb(84, 5, 5);
    font-weight: bold;
    font-style: oblique;
}

.mainBody{
    text-align:center;
}

.mainBackground{
    background-color:rgba(1218, 173, 134, 0.8);
    position:fixed;
    z-index:-2;
    width:100%;
    height:100%;
    top:0;
    left:0;
}


.mainBackground-image{
    opacity: 0.3;
    width:100%;
    height:100%;
}

.mainBackground-image1{
    display:block;
    background-image: url('/pictures/main.jpg');
    opacity: 0.4;
    width:100%;
    height:100%;
    background-size: cover;
}

.mainCircleDisplay{
    height:70%;
/*    min-height: 300px;*/
    display: inline-block;
    vertical-align: middle;
}

.mainCircle{
    margin:auto;
    text-align:center;
    font-weight:bolder;
    color:white;
    text-shadow: 3px 3px 3px #75A8CA;
    /*padding:20px;*/
    display:inline-block;
    vertical-align: middle;
    font-size:115%;
}

.mainCircleNav{
    margin-top:5px; 
    width:100%; 
    text-align:center;
}



.secondBody{
    color:#663300;
    width:100%;
   /* min-width:300px;
    min-height:300px;*/
    font-size:90%;
    display:inline-block;
    padding-bottom:1%;
    text-align:center;
}

.secondBodyDiv{
    position:relative;
    color:black;
    text-align:center;
    margin-top:50px;
    margin-bottom:20px;
}

.barDiv{
 background-color:#C9D8C5;
 color:white; 
 width:100%;
 height:80px;
 box-shadow:1px 1px 1px #93DD9B;
 text-align:center;
 font-size:100%;
}

.barDiv-logo{
    display:inline-block;
    font-size:150%;
    margin-right:15px;
}

.barDiv-logIn{
   display:inline-block; 
   width:50px
}

.barDiv-signUp{
    display:inline-block;
    font-weight:bold;
    margin-left:5px;
}

.mainNavbar{
    text-decoration:none;
    font-weight: bold;
    background-color:#75A8CA;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding:4px;
    border-radius:10px;
}

.mainNavbar:hover{
   padding:6px;
}

.mainInput{
    width:200px;
    /*min-width:250px;*/
    /*max-width:500px;*/
    height:30px;
    /*max-height:40px;*/
    color:black;
    background-color:white;
    border-radius:4px;
    border:0px solid;
}

.mainButton{
    text-decoration:none;
    padding:2px;
    width:100px;
    background-color:#c9d8c5;
    color: white;
     font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    border-radius:5px;
    box-shadow: 0px 2px 2px #93DD9B;
    font-family: Arial, Helvetica, sans-serif;
    
}

.mainButton:hover{
    box-shadow: 0px 2px 2px #00cc88;
    background-color:#04D9A4;
   
}



/*********************************Inside Page Styles**********************************/

.computerScreen{
    display:none;
}

.smallScreen{
    display:inline-block;
    width:100%;
}


.mainBackground{
    position:fixed;
    z-index:-1;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.theMainDiv{
    width:100%;
    display:inline-block;
    margin:0px;
}


.navBarInclude{
    position:absolute;
    height:70px;
    width:100%;
    margin:0;
}

.navButton{
    display:inline-block;
    margin-left:5px;
    margin-top:30px;
    color:white;
    font-weight: bold;
    cursor:pointer;
    font-size: 120%;
}

.userName{
    display:inline-block;
    color: white;
    font-size:150%;
    font-weight:bolder;
    margin-left:5px;
    text-shadow: 1px 1px 2px #000000; 
}

.barMenu{
    position:absolute;
    display:block;
    width:120px;
    padding:10px;
    z-index:100;
}

.navBarDiv{
    position:relative;
    width:100%;
    height:20px;
    margin-top:5px;
    font-size:80%;
}

.navBarDiv:hover{
    background-color:rgba(110, 87, 68, 0.4);
}

.borderb{
    border-bottom:1px solid;
}

.loggedNav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#f2f2f2;
    text-decoration: none;
}


    
.userSettingsDivLeft{
    width:100%;
    display:inline-block;
    margin-top:90px;
    font-size:85%;
    border-bottom:2px solid #f2f2f2;
}

.userSettingsDivRight{
    /*float:left;*/
    display:inline-block;
    width:100%;
    position:relative;
    margin-bottom:10px;
    font-size:85%;
}


.userSettingsDiv{
    margin-top:80px;
    display:inline-block;
    vertical-align: middle;
    width:90%;
    font-size:90%;
}

.messageTextArea{
    background-color:transparent;
    width:60%; 
    min-width:180px; 
    max-width:500px;
    height:40%; 
    min-height: 100px;
    max-height:500px;
}

.themeHolder{
    display:inline-block;
    width:90%;
    margin-left:5%;
    padding-bottom:5px;
}

.themePics{
    position: relative;
    display:inline-block;
    margin-top:10px;
    margin-bottom: 10px;
    width:48%;
    height:100px;
}

.uSetInput{
    height:25px;
    width:150px;
}

.uSetInputFollow{
    height:25px;
    width:140px;
}



#calendarDiv{
    float:left;
    margin-top:90px;
    width:90%;
    margin-left:5%;
    font-size:85%;
}
#listCalToolsDiv{
    display:inline-block;
    border-radius: 5px;
    float:left;
    margin-left:5%;
    margin-top:40px;
    margin-bottom:10px;
    width:90%;
    position:relative;
    font-size:85%;
}

.frontFont{
    font-stretch: semi-expanded;
    font-weight:bold;
}




#smallScreenCalendar{
    /*background-image:url('/pictures/blankpage.jpg'); */
    background-color:rgba(255, 255, 255, 0.7);
    display:inline-block;
    border: 1px solid black;
    min-height:100px; 
    width:100%; 
    margin-left:auto;
    margin-right:auto;
    margin-top:3%; 
    position:relative;
    z-index:1;
}



.all{
    width:100%;
}

.split{
    width:40%;
    display:inline-block;
    /*margin-left:5px;*/
}


.editColor {
    color:black;
    margin-top:10px;
    margin-bottom:5%;
}

.editColor-content{
    width:100%;
    text-align: left;
    margin-bottom: 5px;
}

.textInput{
    float:left;
    height:20px;
    width:70%;
    font-size:small;
}

.addModalTextInput{
    height:25px;
    width:80%;
}

.divInput{
    display:inline-block;
    width:100%;
    margin:auto;
}

.div70{
     width:70%;
    margin:auto;
    margin-bottom:5%;
}

.divSep{
    width:100%;
    margin:auto;
    margin-bottom:5px;
}

.navBarOption{
    float:left;
    margin:5px;
    border-radius:5px;
}

.headers{
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bolder;
    font-size: 150%;
}

.menuButtons{
    height:20px;
    width:20px;
    border-radius:50px;
    cursor:pointer;
}

.eTime{
    font-size:80%;
}

.eName{
    font-size:90%;
}

#colorPickerTable{
    width:100px;
    height:80px;
}

.completedStyle{
    text-decoration: line-through;
    font-style: oblique;
    color: #cccccc;
}

.calHeader{
    margin-top:10px;
    color:black;
    width:100%;
    font-size: 115%;
    text-align:center;
}
.calHeaderDate{
    display:inline-block;
    font-weight:bold;
    margin-left:2%;
}

.calHeaderArrows{
    font-size:150%;
    display:inline-block;
    cursor:pointer;
    margin-left:2%;
}

.calHeaderMiniArrows{
    display:inline-block;
    cursor:pointer;
    margin-left:2%;
}

.miniCalDisplay {
    background-color:rgba(191, 161, 145, 1);
    position:absolute;
    z-index: 10;
    /*box-shadow: inset 0px -1px 25px #e6e6e6;*/
}


.miniCalTable{
    text-align:center;
    margin:5px;
    font-size:90%;
    width:95%;
}

.monthlyDayCell{
    position:relative;
    background-color: rgba(255, 255, 255, 0.6);
    display:table-cell; 
    width:14%; 
    border:1px solid #999999; 
    border-top:none;
    z-index:-1;
}

#monthlyDateTable{
    display:table;
    margin-top:10px;
    width:100%;
    height:20px;
    font-size:90%; 
    font-weight:bold;
    border:1px solid #999999;
}

#monthlyDateTable td{
    width:14%;
    text-align:center;
}

#bigCalTable{
    display:table;
    height:15%;
    width: 100%;
    border-collapse: collapse;
    overflow:hidden;
}

.bigCalDates{
    position:relative;
    font-weight:bold;
    width:100%;
    font-size:90%;
}

.timeDiv{
    float:left;
    font-size: 80%;
}



.createEventModal-dark {
    /*background-image:url('/pictures/wood.jpg'); */
    width:100%;
    height:100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}

.createEventModal-dark-image{
    z-index:9998; 
    position:absolute; 
    width:100%; 
    height:100%; 
    top:0; left:0; 
    background-image:url("/pictures/wood.jpg");
    opacity:0.3;
}



.createEventModal-style{
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10000;
    position: absolute;
    width:90%;
    height:450px;

     /*to center the content */
    left: 5%;
    border-radius:5px;
    box-shadow: inset 0px -1px 10px gray;
    /*overflow: auto;*/
}

.createEventModal-style-content{
   /*background-color: rgba(255, 255, 255, 0.7);*/
   left:0;
   top:0;
   width:100%;
   height:100%;
   position:absolute;
   font-size:60%;
   font-weight: bold;
}

.AddEditForm{
    margin-top:20px;
    margin-left:10px
}

.addModalInput{
    font-size:75%;
    /*color:white;*/
}

.addModalInputSelect{
    font-size:75%;
}

.addModalInputDate{
    /*color:white;*/
    margin-left:2px;
    width:58px;
    font-size:75%;
}


.addModalInputTime{
    /*color:white;*/
    font-size:70%;
    position:relative;
}

.z-index2{
    z-index:2;
}

.z-index3{
    z-index:3;
}

.selectRepInter{
    /*color:white;*/
    position:relative;
    margin-left:2px;
    margin-right:5px;
    z-index:3;
    font-size:70%;
}

.mainTimeModalDiv{
    margin-left:5px;
    display:inline-block;
    width:180px;
    height:20px;
    margin-bottom:2%;
    margin-top:5px;
}


.modalTimeDiv{
    float:left;
    margin-left:2%;
    height:100%;
    position:relative;
}

.repeatIntervalModal{
    margin-top:5px;
    float:left; 
    margin-left:2%; 
    position:relative; 
    height:20px
}

.addForm{
    position:relative;
    background-image:url('/pictures/wood.jpg');
    width:150px; 
    height:220px;
    margin:auto;
    text-align: center;
    font-size:100%;
}

.addListCalButton{
    width:100px; 
}


.menuForm{
    background-color:rgba(255, 255, 255, 0.7);
    position:absolute;
    top:0;
    left:0;
    padding-left:10px;
    padding-right:10px;
    width:180px;
    height:230px;
    border-radius:4px;
    font-size:90%;
}


.upperqDiv{
    text-align:center;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
}

.upperqDiv-content{
     margin-top:12px;
     margin-left:auto;
     margin-right:auto;
     width:100%;
}

.lowerqDiv{
    margin-top:0;
    text-align:center;
}

.lowerqDiv-content{
     margin-top:8px;
     width:100%;
}

.lowerqDiv-buttons{
    margin-top:30px;
    margin-left:15%;
}


.questionModal{
    background-color:rgba(255, 255, 255, 0.7);
    position:absolute;
    top:0;
    left:0;
    padding-left:10px;
    padding-right:10px;
    width: 200px;
    height: 210px;
    border-radius:4px;
    font-size: 75%
}

.createQuestionModal-style{
    background-image:url('/pictures/wood.jpg'); 
    border-radius:4px;
    z-index: 900;
    position: absolute;
    padding-left:10px;
    padding-right:10px;
    width: 200px;
    height: 210px;
}

.createQuestionModal-header{
    z-index:10;
    position:absolute;
    border-radius:4px 4px 0px 0px;
    left:0;
    top:0;
    height:30px;
    width:100%;
}

.createQuestionModal-style-content{
    color:black;
    padding: 5px;
    text-align: center;
}

.createQuestionModal-close{
    position: absolute;
    z-index:100;
    top: 3px;
    right: 10px;
    padding: 3px;
    cursor: pointer;
    display: inline-block;
    color:white;
    font-weight: bold;
    font-size:120%;
}

/*.createQuestionModal-footer{
    position:absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    border-radius:0px 0px 4px 4px;
}*/

/*For the add List and add Calendars*/
.createQuestionModal-tooldark {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}


.adminLink{
    display:inline-block;
    color: #999999;
    border-radius: 5px;
    padding:5px;
    text-decoration: none;
    background-color:#f2f2f2;
    box-shadow: 1px 1px 1px #999999;
}

.adminLink:hover{
    padding:7px;
}

.tableDiv{
    margin-top:20px;
    display:inline-block;
     width:250px;
    overflow-x: auto;
}

.adminTable{
    border-collapse: collapse;
    font-size:100%; 
    display:inline-block; 
    vertical-align:middle
}

.adminTr{
   
}

.adminTd{
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    height:120px;
}

.adminTdR{
    min-width:150px;
    text-align: center;
    border-bottom: 3px solid brown;
    height:20px;
}

.adminTd-inside{
    margin:10px;
}