<div style=" display:inline-block; width:5%; height:40%"></div>

<div class="userSettingsDiv" ng-controller="contactUsCtrl as c">
    
             <form name="emailForm">
                 
                   
                    
                    <div style="width:100%; margin-top:25px; display:inline-block; text-align:center">
                        <div class="messageTextArea" style="display:inline-block; height:inherit">
                            <div ng-style="style.statusStyle()"  style="float:left; width:100%; margin-bottom:10px" ng-show="c.successMessage">Your email has been sent!</div>
                            <div style="float:left; font-weight:bold; font-size:120%; height:20px">
                                Send us a message:
                            </div>
                        </div>
                     </div>
                    
                    <div style="margin-top:20px; width:100%; text-align:center">
                        <input class="uSetInput" ng-style="style.modalInputStyle()"  type="text" placeholder="*Subject" id="subject" name="subject" ng-model="c.subject" required>
                    </div>
                   
                    <div style="margin-top:20px; width:100%; text-align:center">
                       <textarea ng-style="style.modalInputStyle()" class="messageTextArea" placeholder="*Message Content" id="content" name="content" ng-model="c.content" required>
                       </textarea> 
                    </div>
                    

                    <div style="margin-top:2%; width:100%; text-align:center">
                        <button ng-style="style.buttonStyle()" style="margin-top:15px"  ng-disabled="emailForm.$invalid" ng-click="c.submit()">Send Email</button>
                    </div>
                    
            </form>  
        </div>