
<div ng-controller="listsCtrl as todolist">
    <div class="headers computerScreen" ng-style="style.modernBackground()">
        <span style="margin-left:10px">To-Do Lists</span>
    </div> 
    
   
        <div ng-controller="listMenuCtrl as listMenu" ng-repeat="list in lists">
            
            <div style="display:inline-block">
                
                <div style="display:inline-block; margin-left:5px; font-size:70%" class="menuButtons frontFont" ng-click="toggleMenu()"><i class="fa fa-pencil fa-lg"></i></div>
                <span style="display:inline-block" ng-style="{'color':'rgb(' +list.color+ ')', 'font-size':'110%', 'font-weight':'bolder'}">{{list.name}}</span>
                <menumodal question="showMenu">
                    <form class="menuForm" ng-style="style.modalStyle()">
                        <div style="margin-top:40px; margin-left:5%; margin-right:5%">
                            <div class="divInput">
                                <input ng-style="style.inputStyle()" class="textInput" type="text" placeholder="{{listMenu.name}}" ng-model="listMenu.name">
                                <button  class="textInput" style="float:left; width:20%; margin-left:5%" ng-style="style.buttonStyle()" ng-click="delete_list($index)">
                                    <i class="fa fa-trash fa-lg"></i>
                                </button>
                            </div>
                            <div class="editColor"; style="margin-left:20%">
                                    <div style="float:left">
                                        Edit Color:
                                        <button style="height:15px; cursor: context-menu; width:15px; margin-right:5px" ng-style="{'background-color':'rgb(' +listMenu.color+ ')', 'margin-right':'5px'}"></button>
                                    </div>
                                    
                                    <colorpicker selected="listMenu.color"></colorpicker>
                            </div>
                            
                            
                            <div class="divInput" style="height:25px">
                                <div class="split">
                                    <button ng-style="style.buttonStyle()" class="all" ng-click="update($index, listMenu.name, listMenu.color)">save</button>
                                </div>
                                <div class="split">
                                    <button ng-style="style.buttonStyle()" class="all" ng-click="cancel()">cancel</button> 
                                </div>
                            </div>
                        </div>
                    </form>
                </menumodal>
            </div>
            
            <div style="display:block">
                
                <div ng-style="style.textInputStyle()" style="width:100%; margin-top:5px; display:inline-block; color:#f2f2f2" ng-repeat="task in list.tasks" ng-controller="tasksCtrl">
                        <div style="width:90%; position:relative; display:inline-block">
                            <div style="display:inline-block; vertical-align:middle; height:90%">
                                <input  style="height:100%" type="checkbox"  ng-checked="completed" ng-click="updateCompleted($parent.$parent.$index, $parent.$index, task)">
                            </div>
                            
                            <div style="display:inline-block; max-width:85%; overflow-wrap:break-word">
                                <span ng-class="completedClass()" style="max-width:85%">{{task.name}}</span>
                            </div>
                            
                        
                        </div>
                        <div  style="display:inline-block; color:black; text-shadow:1px 1px 2px #fff; cursor:hand; font-size:80%">
                            <div ng-click="delete_task($parent.$parent.$index, $parent.$index, task.id)">
                                <i class="fa fa-trash fa-lg"></i>
                            </div>
                        </div>
                </div>
        
                <div style="margin-top:10px">
                    <form ng-submit="add_tasks($parent.$index, taskName)">
                        <div style="display:inline-block; width:100%">
                            <input ng-style="style.textInputStyle()" style="width:100%; min-width:10%; height:40px" type="text" placeholder=" + add new task" ng-model="taskName">
                            <button ng-hide="hideAddButton" type="submit">add task</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
  
        <div style="width:100%; text-align:center">
             <button ng-hide="addListMenu" ng-style="style.buttonStyle()" ng-click="toggleAddList(); $event.stopPropagation()" class="addListCalButton">add list</button>
        </div>
       
        <div ng-show="addListMenu" class="addForm" ng-click="$event.stopPropagation()">
                <form ng-style="style.modalStyle()" style="width:100%; height:100%; background-color:rgba(255, 255, 255, 0.7);">
                    <div>
                        <br>
                        <div class="divInput">
                            <input ng-style="style.inputStyle()" type="text" placeholder="List Name" class="addModalTextInput" ng-model="todolist.listName">
                        </div>
                        <div class="editColor">
                            <div style="margin-left:15%; font-size:90%">
                            <div style="float:left">
                                List Color: <button ng-style="{'background-color':'rgb(' +todolist.color+ ')'}" style="height:15px;width:15px; cursor: context-menu; margin-right:5px"></button>
                            </div>
                           
                                <colorpicker selected="todolist.color"></colorpicker>
                            </div>
                        </div>
                        <div class="divInput">
                            <div class="split">
                                <button class="all" ng-style="style.buttonStyle()" ng-click="add_list()">add</button>
                            </div>
                            <div class="split">
                                 <button class="all" ng-style="style.buttonStyle()" ng-click="cancelAdd()">cancel</button>
                            </div>
                        </div>
                            
                    </div>
                </form>
        </div>

</div>


<br>
<div ng-controller="calendarsCtrl as calie">
    
    <div class="headers" ng-style="style.modernBackground()"><span style="margin-left:10px">Calendars</span></div>
    
        <div ng-controller="calendarMenuCtrl as calmenu" ng-repeat="calendar in theCalendars.calendars">
            <div ng-style="style.textInputStyle()" class="frontFont" style="display:inline-block; width:100%; height:40px; margin-top:5px">
                <div style="float:left; margin-top:5px; margin-left:5px; text-align:center; position:relative" class="menuButtons" ng-click="calmenu.ToggleshowCalendarMenu()" ng-style="{'background-color':'rgb(' +calendar.color+ ')'}"><div style="margin-top:25%; font-size:60%"><i class="fa fa-pencil fa-lg"></i></div></div>
                <span style="float:left; margin-top:5px; margin-left:5px">{{calendar.name}}</span> 
                
                <menumodal question="calmenu.showCalendarMenu">
                    <form ng-style="style.modalStyle()" class="menuForm">
                        <div style="margin-top:40px">
                            <div class="divInput" ng-if="calendar.id != theCalendars.mainCalendar.id">
                                <input ng-style="style.inputStyle()" class="textInput" type="text" placeholder="calmenu.nameToUpdate" ng-model="calmenu.nameToUpdate">
                                <button ng-if="calendar.id != theCalendars.mainCalendar.id" class="textInput" style="float:left; width:20%; margin-left:5%" ng-style="style.buttonStyle()" ng-click="calmenu.delete()">
                                    <i class="fa fa-trash fa-lg"></i>
                                </button>
                            </div>
                            <div ng-if="calendar.id == theCalendars.mainCalendar.id" class="divInput" style="height:20px; text-align:center; font-weight:bold" >
                                <div>{{calendar.name}}'s Calendar</div>
                            </div>
        
                            <div class="editColor" style="margin-left:20%">
                                    <div style="width:100%; text-align:left">
                                       Edit color: <button style="height:15px; width:15px; cursor: context-menu; margin-right:5px" ng-style="{'background-color':'rgb(' + calmenu.colorToUpdate + ')'}"></button>
                                    </div>
                                    <colorpicker selected="calmenu.colorToUpdate"></colorpicker>
                            </div>
                            
                            <div class="divInput" style="display:inlilne-block">
                                <div class="split">
                                   <button ng-style="style.buttonStyle()" class="all" ng-click="calmenu.update(calendar.id, calmenu.nameToUpdate, calmenu.colorToUpdate, $index)">save </button>
                                </div>
                                <div class="split">
                                    <button ng-style="style.buttonStyle()" class="all" ng-click="calmenu.cancelUpdate()">cancel</button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                        
                </menumodal>
                
                <continuemodal question='calmenu.verifyDeletion' ng-click="$event.stopPropagation()">
                    <div class="questionModal">
                        <div class="upperqDiv">
                            <div ng-style="{'color':'rgb(' + calmenu.colorToUpdate + ')', 'font-weight':'bold', 'font-size':'120%'}" class="upperqDiv-content">{{calendar.name}}</div>
                        </div>
                        <div class="lowerqDiv">
                            <div class="lowerqDiv-content">All Events under this calendar will be deleted</div>
                            <div class="lowerqDiv-content">Are you sure you want to delete this calendar?</div>
                            <div class="lowerqDiv-buttons">
                                <button style="float:left; width:30%; text-align:center; margin-right:10%" ng-style="style.buttonStyle()" ng-click="calmenu.yesDelete(calendar.id, $index)"><span style="width:100%">YES</span></button> 
                                <button style="float:left; width:30%; text-align:center" ng-style="style.buttonStyle()" ng-click="calmenu.noDelete()"><span style="width:100%">NO</span></button>
                            </div>
                        </div>
                       
                        
                    </div>
                        
                </continuemodal>
            </div>
        </div>
   
    <br>
    
    <div style="width:100%; text-align:center">
         <button ng-hide="addCalMenu" class="addListCalButton" ng-style="style.buttonStyle()" ng-click="toggleAddCalendar(); $event.stopPropagation()">add calendar</button>
    </div>
   
    
    <div class="addForm" ng-show="addCalMenu">
       <form  ng-style="style.modalStyle()" style="width:100%; height:100%; background-color:rgba(255, 255, 255, 0.7);" ng-click="$event.stopPropagation()">
            <br>
            <div>
                <div class="divInput">
                   <input ng-style="style.inputStyle()" class="addModalTextInput" placeholder="Calendar Name" type="text" ng-model="calie.name">
                </div>
                
                <div class="editColor">
                    <div style="margin-left:15%; font-size:90%">
                        <div style="float:left">
                            Color: <button style="height:15px; width:15px; cursor: context-menu; margin-right:5px" ng-style="{'background-color':'rgb(' +calie.color+ ')', 'margin-right':'5px'}"></button>
                        </div>

                        <div>
                            <colorpicker selected="calie.color"></colorpicker>
                        </div> 
                    </div>
                </div>
                
                <div class="divInput">
                    <div class="split">
                        <button ng-style="style.buttonStyle()" class="all" ng-click="add()">add</button>
                    </div>
                    <div class="split">
                        <button ng-style="style.buttonStyle()" class="all" ng-click="cancelAdd()">cancel</button>
                    </div>
                </div> 
            </div>
        </form> 
    </div>
    
</div>  
